/*-- scss:defaults --*/

// Flexoki Dark Theme with Green Hues
// https://stephango.com/flexoki

// Base colors
$flexoki-black: #100f0f;
$flexoki-paper: #fffcf0;

// Dark theme base
$flexoki-bg: #100f0f;
$flexoki-bg-2: #1c1b1a;
$flexoki-ui: #282726;
$flexoki-ui-2: #343331;
$flexoki-ui-3: #403e3c;
$flexoki-tx-3: #575653;
$flexoki-tx-2: #878580;
$flexoki-tx: #cecdc3;

// Accent colors (dark variants)
$flexoki-red: #d14d41;
$flexoki-orange: #da702c;
$flexoki-yellow: #d0a215;
$flexoki-green: #879a39;
$flexoki-cyan: #3aa99f;
$flexoki-blue: #4385be;
$flexoki-purple: #8b7ec8;
$flexoki-magenta: #ce5d97;

// Bootstrap color mappings
$white: $flexoki-tx;
$gray-100: $flexoki-tx-2;
$gray-200: $flexoki-tx-3;
$gray-300: $flexoki-ui-3;
$gray-400: $flexoki-ui-2;
$gray-500: $flexoki-ui;
$gray-600: $flexoki-bg-2;
$gray-700: $flexoki-bg;
$gray-800: $flexoki-bg;
$gray-900: $flexoki-bg;
$black: $flexoki-black;

$primary: $flexoki-green;
$secondary: $flexoki-tx-2;
$success: $flexoki-green;
$info: $flexoki-cyan;
$warning: $flexoki-orange;
$danger: $flexoki-red;
$light: $flexoki-ui-3;
$dark: $flexoki-black;

// Fonts - Geist Sans for content, Geist Mono for navbar/footer/code
$font-family-sans-serif: "Geist", system-ui, -apple-system, sans-serif;
$font-family-monospace: "Geist Mono", ui-monospace, monospace;

$headings-font-family: "Geist";
$headings-font-weight: 600;

$navbar-font-family: "Geist Mono";
$toc-font-family: "Geist";
$footer-font-family: "Geist Mono";

// Body
$body-bg: $flexoki-bg;
$body-color: $flexoki-tx;
$font-size-base: 1.02rem;

// Links - cyan with underline, hover to text color
$link-color: $flexoki-cyan;
$link-decoration: underline;
$link-hover-color: $flexoki-tx;
$link-hover-decoration: underline;

// Inline code
$code-bg: $flexoki-bg-2;
$code-color: $flexoki-tx;

// Code copy
$btn-code-copy-color-active: $flexoki-green;

// TOC
$toc-color: $flexoki-green;
$toc-font-size: 1em;

// Navbar
$navbar-bg: $flexoki-bg-2;
$navbar-fg: $flexoki-tx;
$navbar-hl: $flexoki-cyan;

// Footer
$footer-bg: $flexoki-bg-2;
$footer-fg: $flexoki-tx-2;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap');

body {
  -webkit-font-smoothing: antialiased;
}

// Headings - tighter letter spacing
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.02em;
}

// Navbar links: uppercase and bold
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
}

// Home page adjustments
.home {
  .quarto-title-banner {
    margin-bottom: 0;
  }

  #title-block-header {
    margin-block-end: 0;
  }
}

// Code blocks
pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.775em;
  font-family: $font-family-monospace;
}

code {
  font-family: $font-family-monospace;
}

// Navbar
.navbar {
  font-family: $navbar-font-family;
}

.navbar-nav.navbar-nav-scroll.ms-auto {
  flex-direction: row;
}

// TOC
#TOC {
  font-family: $toc-font-family;
  padding-bottom: 0.1em;
  font-weight: 300;

  .active {
    font-weight: 400;
  }

  #toc-title {
    font-weight: 600;
  }
}

.sidebar nav[role="doc-toc"] > ul li a {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

// Footer
.nav-footer {
  align-items: center;
  flex-wrap: wrap;
  border: 0 !important;
  min-height: 3em;
  font-family: $footer-font-family;
  font-size: 0.9rem;

  a {
    color: $flexoki-cyan;
  }

  .nav-footer-left,
  .nav-footer-right,
  .nav-footer-center {
    text-align: center;
    width: 100%;
  }

  @media (min-width: 768px) {
    .nav-footer-left {
      text-align: left;
    }

    .nav-footer-right {
      text-align: right;
    }

    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
      flex: 1 1 33%;
    }
  }
}
